.sidebar {
    width: 250px;
    padding-right: 20px;
}

.customizable {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
}

.filterGroup {
    border-bottom: 1px solid #e5e5e5;
    padding: 24px 0;
}

.filterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.filterTitleGroup {
    display: flex;
    flex-direction: column;
}

.filterName {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.filterSelection {
    font-size: 14px;
    color: #252020;
    margin-top: 4px;
}

.filterOptions {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.unselectBtn {
    background: none;
    border: none;
    text-decoration: underline;
    color: #BFCAD0;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
}